body {
    font-family: 'Inter', sans-serif;
    line-height: 1.7;
    color: #ecf0f1;
    background-color: #1a1a1d;
    margin: 0 auto;
    padding: 40px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0.2em;
}

#dashboard {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #22252a;
    color: #ecf0f1;
}

#results-content {
    background: #22252a;
    border: 1px solid #444;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}